## Konfiguracja ollama

In [1]:
import ollama

ollama_client = ollama.Client(host='http://host.docker.internal:11434')

# all-minilm:l6-v2
# all-minilm:l12-v2

MODEL = "all-minilm:l6-v2"

embedding_size = len(ollama_client.embed(MODEL,'lorem ipsum').embeddings[0])
print(f"Długość osadzeń: {embedding_size}")

Długość osadzeń: 384

## Stworzenie bazy danych SQLite z rozszerzeniami sqlite-vec i FTS5

In [2]:
import sqlite3
import sqlite_vec
from contextlib import contextmanager

DB_FILENAME = "search.db"

@contextmanager
def sqlite_connection():
    conn = sqlite3.connect(DB_FILENAME)
    try:
        conn.enable_load_extension(True)
        sqlite_vec.load(conn)
        # db.load_extension('fts5')
        conn.enable_load_extension(False)

        conn.execute('PRAGMA journal_mode=WAL')

        yield conn
        conn.commit()
    except Exception:
        conn.rollback()
        raise
    finally:
        conn.execute('PRAGMA wal_checkpoint(FULL)')
        conn.execute('PRAGMA journal_mode=DELETE')

        conn.close()

In [3]:
import os

for db_file in [DB_FILENAME,DB_FILENAME + "-shm",DB_FILENAME+"-wal",DB_FILENAME+"-journal"]:
    if os.path.exists(db_file):
        os.remove(db_file)

with sqlite_connection() as conn:
    vec_version, = conn.execute("select vec_version()").fetchone()
    print(f"vec_version={vec_version}")

    conn.execute("""
        CREATE TABLE articles (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            title TEXT,
            section TEXT,
            content TEXT,
            link TEXT UNIQUE,
            published_date INTEGER
        );
    """)

    conn.execute("""
        CREATE VIRTUAL TABLE article_embeddings USING vec0 (
            embedding FLOAT[{embedding_size}],
            article_id INTEGER NOT NULL,
            field_name TEXT NOT NULL
        );
    """.format(embedding_size=embedding_size))

    conn.execute("""
        CREATE VIRTUAL TABLE articles_fts USING fts5(
            title,
            content,
            content='articles',
            content_rowid='id'
        )
    """)

vec_version=v0.1.6

## Załadowanie danych wejściowych do bazy danych

### Załadowanie artykułów

In [4]:
import datasets

with sqlite_connection() as conn:
    cursor = conn.cursor()

    # dataset_names = ["RealTimeData/bbc_news_april_2023", "RealTimeData/bbc_news_may_2023", "RealTimeData/bbc_news_june_2023", "RealTimeData/bbc_news_july_2023"]
    dataset_names = ["RealTimeData/bbc_news_week1_july_2023"]
    # dataset_names = ["RealTimeData/bbc_news_may_2023"]

    for dataset_name in dataset_names:
        print("Loading dataset " + dataset_name + "...")
        
        dataset = datasets.load_dataset(dataset_name, split="train")
        for row in dataset:
            cursor.execute("""
                INSERT INTO articles (title, section, content, link, published_date)
                VALUES (?, ?, ?, ?, ?)
                ON CONFLICT(link) DO NOTHING
            """, [row['title'], row['section'], row['content'], row['link'], row['published_date']])
        
        print("Dataset loaded!")

Loading dataset RealTimeData/bbc_news_week1_july_2023...
Dataset loaded!

In [5]:
with sqlite_connection() as conn:
    row_count = conn.execute("SELECT count() AS c FROM articles").fetchone()[0]
    print('Loaded {row_count} rows of data!'.format(row_count=row_count))

Loaded 400 rows of data!

### Wygenerowanie i załadowanie osadzeń

In [6]:
with sqlite_connection() as conn:
    read_cursor = conn.cursor()
    write_cursor = conn.cursor()

    i = 0
    for row in read_cursor.execute("SELECT id, title, content FROM articles"):
        embeddings = ollama_client.embed(model=MODEL, input=[row[1], row[2]]).embeddings
        
        write_cursor.execute("""
            INSERT INTO article_embeddings (embedding, article_id, field_name) VALUES (?, ?, "title"), (?, ?, "content")
        """, [sqlite_vec.serialize_float32(embeddings[0]), row[0], sqlite_vec.serialize_float32(embeddings[1]), row[0]])
    
        i+=1
        if i%50 == 0:
            print("Processed {n} records".format(n=i))

Processed 50 records
Processed 100 records
Processed 150 records
Processed 200 records
Processed 250 records
Processed 300 records
Processed 350 records
Processed 400 records

### Wygenerowanie indeksów do wyszukiwania tekstowego

In [7]:
with sqlite_connection() as conn:
    conn.cursor().execute("INSERT INTO articles_fts(articles_fts) VALUES ('rebuild')")

# Wyszukiwanie

In [8]:
import pandas as pd

pd.set_option('display.max_colwidth', None)

QUERY = "football"

## Wyszukiwanie przy użyciu rozszerzenia sqlite-vec

In [9]:
query_embedding = ollama_client.embed(model=MODEL, input=QUERY).embeddings[0]
query_embedding

[-0.011797418,
 0.045702837,
 -0.0386044,
 -0.0200696,
 0.027311921,
 0.04728293,
 0.10229847,
 0.036840454,
 0.07121883,
 0.034751423,
 -0.06534077,
 -0.05168748,
 -0.013812505,
 0.045669865,
 -0.0101220645,
 -0.030236294,
 -0.054922275,
 -0.12538438,
 -0.02856294,
 -0.106140785,
 -0.061026823,
 0.05844485,
 -0.018008547,
 0.003943575,
 -0.010908782,
 0.026352674,
 -0.011113954,
 0.03268371,
 -0.083455905,
 -0.11986337,
 -0.007516774,
 0.017205179,
 0.027626343,
 0.022373127,
 -0.116218224,
 0.030152362,
 0.025277182,
 -0.019324848,
 0.040997192,
 0.051350407,
 -0.06183952,
 -0.11994863,
 0.007807213,
 0.022286529,
 0.045900017,
 0.0858527,
 0.07445762,
 0.009661759,
 0.015457882,
 0.034951266,
 0.052366946,
 0.04636365,
 -0.08101915,
 0.036451425,
 0.09797119,
 0.0045311144,
 -0.0075007863,
 0.05616813,
 -0.02587305,
 0.013388171,
 0.04837162,
 0.019516699,
 -0.04153011,
 0.017527593,
 0.008526648,
 -0.025089664,
 -0.03451827,
 0.027112078,
 -0.012576807,
 -0.00013855804,
 0.022936685,
 -0.05735237,
 0.049713027,
 0.002872415,
 0.10264886,
 -0.018871872,
 0.028641546,
 0.0014721792,
 0.075231686,
 -0.072825566,
 0.0006821319,
 -0.06382463,
 -0.09976179,
 0.025228223,
 0.019747186,
 -0.049467884,
 -0.01846952,
 0.026212448,
 -0.0056453245,
 0.062830746,
 -0.05307839,
 -0.04966773,
 0.05333552,
 0.05331287,
 -0.0768784,
 0.07232197,
 0.013417481,
 -0.10190411,
 -0.011909996,
 0.21692595,
 0.0018878534,
 0.052481525,
 0.011309801,
 0.07384078,
 0.01965659,
 0.00882175,
 -0.034223836,
 0.10173358,
 0.0058460836,
 0.02316051,
 0.030979546,
 0.03565738,
 -0.07755786,
 0.053238265,
 -0.11475804,
 0.07169846,
 0.044325247,
 -0.052779287,
 -0.03298747,
 0.05271434,
 -0.026607974,
 0.019263564,
 -0.018857216,
 0.058546104,
 -0.04212431,
 -0.026853615,
 -0.023093896,
 -5.0045544e-33,
 -0.029065214,
 -0.1424803,
 0.011426874,
 0.024294287,
 -0.12971164,
 0.07019564,
 0.04510597,
 -0.03175244,
 -0.023744052,
 0.026086217,
 0.03421851,
 0.057252448,
 -0.01468582,
 -0.010327904,
 0.12796368,
 -0.01839358,
 -0.07935113,
 0.035077665,
 -0.03343512,
 0.04838873,
 0.00959248,
 0.063907236,
 0.011457684,
 -0.009771006,
 -0.03686177,
 -0.0037410671,
 -0.037330735,
 -0.07806147,
 0.03585589,
 0.010386524,
 0.03407995,
 0.02088496,
 -0.06778686,
 0.01137375,
 0.008510661,
 -0.10995114,
 -0.00048228857,
 -0.07734203,
 0.022521012,
 0.014644519,
 0.028918663,
 -0.0021902828,
 -0.058282975,
 -0.03140738,
 0.034367725,
 0.00080736703,
 0.021662684,
 -0.020666465,
 -0.05730441,
 -0.09038248,
 0.005201256,
 -0.029875245,
 0.054314084,
 -0.06634799,
 0.062201902,
 -0.044892807,
 0.044990063,
 -0.029073209,
 -0.06586836,
 -0.004334602,
 -0.0061711622,
 0.07714219,
 0.026051577,
 -0.019289875,
 -0.043797664,
 -0.050589673,
 0.060352687,
 0.025249539,
 -0.016556352,
 -0.11325521,
 0.00027178694,
 0.07000911,
 0.055625726,
 -0.03189849,
 -0.0031223022,
 0.037826344,
 0.07192761,
 0.03434108,
 0.009989502,
 -0.022653572,
 0.022371795,
 -0.012979158,
 -0.009150825,
 -0.086811945,
 0.054879643,
 0.110324174,
 -0.06874877,
 -0.10713201,
 -0.0060299393,
 0.006839971,
 -0.18053047,
 -0.016311878,
 -0.03859108,
 0.019558001,
 0.0076899715,
 2.7543836e-33,
 -0.015987467,
 -0.06014818,
 -0.020501262,
 0.058909815,
 0.0155398175,
 -0.0042491686,
 0.024322266,
 0.031620543,
 0.07508913,
 0.10238373,
 -0.040816,
 -0.010842833,
 0.043985516,
 0.017959254,
 -0.07838122,
 -0.09939941,
 0.03514045,
 -0.021849537,
 -0.05976115,
 0.024159726,
 -0.004929469,
 -0.0060485913,
 0.040501583,
 -0.07834391,
 -0.056979332,
 -0.0067680273,
 -0.003387922,
 0.03327924,
 -0.033299226,
 0.03007309,
 0.060880274,
 0.021564428,
 0.047272272,
 -0.015750319,
 -0.0113217905,
 0.06833376,
 0.04208967,
 0.013072418,
 -0.009393969,
 -0.0388602,
 0.07688905,
 -0.0051176543,
 0.011407723,
 0.1112701,
 0.026102204,
 0.025817094,
 -0.04910284,
 0.05218842,
 0.023641465,
 -0.00019984333,
 -0.03958497,
 0.0032914197,
 -0.026155496,
 -0.025891703,
 0.007055802,
 0.0059918026,
 -0.082948305,
 -0.02757205,
 -0.04573481,
 0.00013739229,
 0.03735738,
 0.0866947,
 -0.10717998,
 0.07060598,
 -0.0040288414,
 0.10678562,
 -0.06861821,
 0.023734726,
 -0.031359416,
 0.023064585,
 -0.0013642638,
 0.035934497,
 0.009918891,
 0.035143115,
 -0.030088412,
 0.047807854,
 -0.028343113,
 0.07927652,
 0.06908984,
 0.040490925,
 0.01535696,
 -0.043585666,
 -0.048844375,
 0.057395004,
 -0.036272895,
 0.03855111,
 0.047446135,
 0.0548903,
 0.033163335,
 -0.05858607,
 0.03956898,
 0.05055237,
 0.0021902828,
 -0.06721131,
 0.01205788,
 -1.199926e-08,
 -0.009134172,
 0.016742874,
 -0.049270704,
 -0.027626343,
 -0.010706274,
 0.044333246,
 0.0064562717,
 -0.09606336,
 0.052342966,
 -0.07264705,
 -0.082218215,
 0.008366774,
 0.026777674,
 0.008542636,
 0.016195303,
 -0.0264033,
 -0.03384014,
 -0.0054996884,
 0.005835425,
 0.07363294,
 -0.00034106596,
 -0.05099469,
 -0.0028191232,
 0.021828221,
 -0.027250636,
 -0.05325958,
 0.04064547,
 0.021038173,
 8.9263354e-05,
 -0.04400284,
 0.016144676,
 0.011249848,
 -0.009284721,
 -0.011607566,
 0.0029070543,
 -0.024753928,
 0.045926664,
 -0.095727615,
 0.0019904396,
 -0.09488561,
 0.013147026,
 -0.0020330728,
 0.022952005,
 -0.040027287,
 0.035678696,
 -0.017137231,
 -0.011998594,
 -0.06895927,
 -0.06600692,
 -0.05381381,
 0.013685271,
 0.06334234,
 0.017772734,
 0.020844992,
 0.039177284,
 0.057789363,
 0.0017452984,
 -0.024935119,
 -0.047580034,
 -0.004172729,
 0.07814944,
 0.009815305,
 0.12066274,
 0.04133576]

### Podobieństwo cosinusowe - osobne pola

In [10]:
cosine_search_df = None

with sqlite_connection() as conn:
    cursor = conn.cursor()
    cursor.execute("""
        SELECT 
            a.id,
            a.title,
            a.section,
            a.link,
            vec_distance_cosine(ae.embedding, ?) AS distance,
            ae.field_name
        FROM articles a
        JOIN article_embeddings ae ON a.id = ae.article_id
        ORDER BY distance;
    """, [sqlite_vec.serialize_float32(query_embedding)])

    cosine_search_df = pd.DataFrame(cursor, columns=["Id", "Tytuł", "Sekcja", "Link", "Dystans", "Pole"])

cosine_search_df

,Id,Tytuł,Sekcja,Link,Dystans,Pole
0,44,England 0-0 Portugal: Lionesses draw with Portugal in World Cup send-off - BBC Sport,None,http://www.bbc.co.uk/sport/football/66065939,0.624792,title
1,510,England U21 1-0 Spain U21: England win Under-21 Euros for first time in 39 years - BBC Sport,None,http://www.bbc.co.uk/sport/football/66127349,0.644827,title
2,200,Hannah Dingley: Forest Green Rovers name first female boss of a men's professional football side - BBC Sport,None,http://www.bbc.co.uk/sport/football/66105649,0.683806,title
3,44,England 0-0 Portugal: Lionesses draw with Portugal in World Cup send-off - BBC Sport,None,http://www.bbc.co.uk/sport/football/66065939,0.724464,content
4,510,England U21 1-0 Spain U21: England win Under-21 Euros for first time in 39 years - BBC Sport,None,http://www.bbc.co.uk/sport/football/66127349,0.735059,content
...,...,...,...,...,...,...
795,261,"Bank account closures probe must be fast tracked, says minister - BBC News",Business,http://www.bbc.co.uk/news/business-66111090,1.073010,title
796,246,Nxivm cult: US actor Allison Mack released early from prison - BBC News,US & Canada,http://www.bbc.co.uk/news/world-us-canada-66111026,1.073779,content
797,512,"Dublin hotel dig unearths 1,000-year-old burial site - BBC News",Northern Ireland,http://www.bbc.co.uk/news/uk-northern-ireland-66137475,1.079824,content
798,11,Golden Ears Park: Missing Canadian teen found after 54-hour search - BBC News,US & Canada,http://www.bbc.co.uk/news/world-us-canada-66076558,1.083125,content
799,293,Neighbours rally to fight Borders village eviction notices - BBC News,South Scotland,http://www.bbc.co.uk/news/uk-scotland-south-scotland-66089478,1.121957,content

### Podobieństwo cosinusowe - ważony wynik z wielu pól

In [11]:
cosine_weight_search_df = None

with sqlite_connection() as conn:
    TITLE_WEIGHT = 0.7

    cursor = conn.cursor()

    cursor.execute("""
        WITH field_similarities AS (
            SELECT 
                article_id AS id,
                field_name,
                (2 - vec_distance_cosine(embedding, :embedding)) / 2 AS similarity
            FROM article_embeddings
        ),
        article_similarities AS (
            SELECT 
                id,
                MAX(CASE WHEN field_name = 'title' THEN similarity END) * :title_weight AS title_weighted_similarity,
                (
                    MAX(CASE WHEN field_name = 'title' THEN similarity END) * :title_weight +
                    MAX(CASE WHEN field_name = 'content' THEN similarity END) * (1 - :title_weight)
                ) AS weighted_similarity
            FROM field_similarities
            GROUP BY id
        )
        SELECT
            a.id AS id,
            a.title AS title,
            a.section AS section,
            a.link AS link,
            asi.weighted_similarity AS similarity,
            PRINTF("%.1f%%", (asi.title_weighted_similarity / asi.weighted_similarity) * 100) AS title_contribution_percent,
            PRINTF("%.1f%%", ((asi.weighted_similarity - asi.title_weighted_similarity) / asi.weighted_similarity) * 100) AS content_contribution_percent
        FROM articles a
        LEFT JOIN article_similarities asi ON a.id = asi.id
        ORDER BY similarity DESC;
    """, {
        'embedding': sqlite_vec.serialize_float32(query_embedding),
        'title_weight': TITLE_WEIGHT
    })

    cosine_weight_search_df = pd.DataFrame(cursor, columns=["Id", "Tytuł", "Sekcja", "Link", "Ważony wynik (0-1)", "Udział tytułu", "Udział zawartości"])

cosine_weight_search_df

,Id,Tytuł,Sekcja,Link,Ważony wynik (0-1),Udział tytułu,Udział zawartości
0,44,England 0-0 Portugal: Lionesses draw with Portugal in World Cup send-off - BBC Sport,None,http://www.bbc.co.uk/sport/football/66065939,0.672653,71.6%,28.4%
1,510,England U21 1-0 Spain U21: England win Under-21 Euros for first time in 39 years - BBC Sport,None,http://www.bbc.co.uk/sport/football/66127349,0.664052,71.4%,28.6%
2,200,Hannah Dingley: Forest Green Rovers name first female boss of a men's professional football side - BBC Sport,None,http://www.bbc.co.uk/sport/football/66105649,0.645022,71.4%,28.6%
3,257,"Wimbledon 2023: Just Stop Oil protesters interrupt play twice, jigsaws taken off sale - BBC Sport",None,http://www.bbc.co.uk/sport/tennis/66041547,0.620694,70.4%,29.6%
4,136,Ukraine war: The lethal minefields holding up Kyiv's counter-offensive - BBC News,Europe,http://www.bbc.co.uk/news/world-europe-66080652,0.615590,71.8%,28.2%
...,...,...,...,...,...,...,...
395,338,Giant stone artefacts found on rare Ice Age site in Kent - BBC News,Kent,http://www.bbc.co.uk/news/uk-england-kent-66112136,0.482039,70.3%,29.7%
396,261,"Bank account closures probe must be fast tracked, says minister - BBC News",Business,http://www.bbc.co.uk/news/business-66111090,0.480905,67.5%,32.5%
397,512,"Dublin hotel dig unearths 1,000-year-old burial site - BBC News",Northern Ireland,http://www.bbc.co.uk/news/uk-northern-ireland-66137475,0.480572,71.3%,28.7%
398,11,Golden Ears Park: Missing Canadian teen found after 54-hour search - BBC News,US & Canada,http://www.bbc.co.uk/news/world-us-canada-66076558,0.479755,71.3%,28.7%
399,205,Taliban order Afghanistan's hair and beauty salons to shut - BBC News,Asia,http://www.bbc.co.uk/news/world-asia-66094490,0.476492,70.1%,29.9%

## Wyszukiwanie hybrydowe - scalanie wyników metodą Reciprocal Rank Fusion (RRF)

In [12]:
hybrid_search_df = None

with sqlite_connection() as conn:
    cursor = conn.cursor()

    cursor.execute("""
        WITH vector_similarities AS (
            SELECT 
                article_id AS id,
                field_name,
                (2 - vec_distance_cosine(embedding, :embedding)) / 2 AS similarity
            FROM article_embeddings
        ),
        vector_ranks AS (
            SELECT 
                id,
                ROW_NUMBER() OVER (ORDER BY (
                    MAX(CASE WHEN field_name = 'title' THEN similarity END) * :vector_title_weight +
                    MAX(CASE WHEN field_name = 'content' THEN similarity END) * (1 - :vector_title_weight)
                ) DESC) AS rank
            FROM vector_similarities
            GROUP BY id
        ),
        text_scores_title AS (
            SELECT 
                rowid AS id,
                rank * :text_title_multiplier AS score
            FROM articles_fts 
            WHERE articles_fts
            MATCH ('title:' || :query)
        ),
        text_scores_content AS (
            SELECT 
                rowid AS id,
                rank AS score
            FROM articles_fts 
            WHERE articles_fts
            MATCH ('content:' || :query)
        ),
        text_ranks AS (
            SELECT
                a.id AS id,
                ROW_NUMBER() OVER (ORDER BY COALESCE(tst.score, 0) + COALESCE(tsc.score, 0) DESC) AS rank
            FROM articles a
            LEFT JOIN text_scores_title tst ON a.id = tst.id
            LEFT JOIN text_scores_content tsc ON a.id = tsc.id
            WHERE COALESCE(tst.id, tsc.id) IS NOT NULL
        )
        SELECT
            a.id AS id,
            a.title AS title,
            a.section AS section,
            a.link AS link,
            (COALESCE(1.0 / (:rrf_k + vr.rank), 0) * :vector_weight) + (COALESCE(1.0 / (:rrf_k + tr.rank), 0) * (1 - :vector_weight)) AS score,
            PRINTF("%.1f%%", (COALESCE(1.0 / (:rrf_k + vr.rank), 0) * :vector_weight) / ((COALESCE(1.0 / (:rrf_k + vr.rank), 0) * :vector_weight) + (COALESCE(1.0 / (:rrf_k + tr.rank), 0) * (1 - :vector_weight))) * 100) AS vector_contribution_percent,
            PRINTF("%.1f%%", (COALESCE(1.0 / (:rrf_k + tr.rank), 0) * (1 - :vector_weight)) / ((COALESCE(1.0 / (:rrf_k + vr.rank), 0) * :vector_weight) + (COALESCE(1.0 / (:rrf_k + tr.rank), 0) * (1 - :vector_weight))) * 100) AS text_contribution_percent,
            vr.rank AS vector_rank,
            COALESCE(tr.rank, "-") AS text_rank
        FROM articles a
        LEFT JOIN vector_ranks vr ON a.id = vr.id
        LEFT JOIN text_ranks tr ON a.id = tr.id
        ORDER BY score DESC
        LIMIT :max_results;
    """, {
        'query': QUERY,
        'embedding': sqlite_vec.serialize_float32(query_embedding),
        'max_results': 20,
        'vector_title_weight': 0.7,
        'text_title_multiplier': 3.0,
        'vector_weight': 0.3,
        'rrf_k': 60
    })

    hybrid_search_df = pd.DataFrame(cursor, columns=["Id", "Tytuł", "Sekcja", "Link", "Wynik RRF (0-1)", "Wektory - udział", "Tekst - udział", "Wektory - ranga", "Tekst - ranga"])

hybrid_search_df

,Id,Tytuł,Sekcja,Link,Wynik RRF (0-1),Wektory - udział,Tekst - udział,Wektory - ranga,Tekst - ranga
0,44,England 0-0 Portugal: Lionesses draw with Portugal in World Cup send-off - BBC Sport,None,http://www.bbc.co.uk/sport/football/66065939,0.016393,30.0%,70.0%,1,1
1,510,England U21 1-0 Spain U21: England win Under-21 Euros for first time in 39 years - BBC Sport,None,http://www.bbc.co.uk/sport/football/66127349,0.014839,32.6%,67.4%,2,10
2,439,Edwin van der Sar: Former Manchester United and Ajax goalkeeper in intensive care - BBC Sport,None,http://www.bbc.co.uk/sport/football/66138530,0.013879,32.8%,67.2%,6,15
3,200,Hannah Dingley: Forest Green Rovers name first female boss of a men's professional football side - BBC Sport,None,http://www.bbc.co.uk/sport/football/66105649,0.013736,34.7%,65.3%,3,18
4,33,Equity in Cricket: Prime Minister Rishi Sunak says ICEC report should be 'reset moment' for sport - BBC Sport,None,http://www.bbc.co.uk/sport/cricket/66076354,0.013626,21.0%,79.0%,45,5
5,54,NHS England head urges football clubs to consider gambling ad impact - BBC News,Health,http://www.bbc.co.uk/news/health-66076015,0.013558,32.1%,67.9%,9,16
6,353,Gary Neville admits error in £400m Manchester development - BBC News,Manchester,http://www.bbc.co.uk/news/uk-england-manchester-66114735,0.013278,21.3%,78.7%,46,7
7,43,"Laura Kuenssberg: Love it or hate it, the NHS is here to stay - BBC News",UK Politics,http://www.bbc.co.uk/news/uk-politics-66068224,0.013254,16.2%,83.8%,80,3
8,250,Leicester City facing £880k fine for fixing replica kit prices - BBC News,Leicester,http://www.bbc.co.uk/news/uk-england-leicestershire-66110620,0.013118,26.9%,73.1%,25,13
9,18,"France shooting: Who was Nahel M, shot by French police in Nanterre? - BBC News",Europe,http://www.bbc.co.uk/news/world-europe-66052104,0.012666,10.9%,89.1%,158,2
10,386,Cardiff: Funeral held for Ely boys whose deaths sparked riot - BBC News,Wales,http://www.bbc.co.uk/news/uk-wales-66118703,0.012516,12.6%,87.4%,130,4
11,194,John Berylson: Millwall owner and chairman dies aged 70 in 'tragic accident' - BBC Sport,None,http://www.bbc.co.uk/sport/football/66105440,0.012418,18.3%,81.7%,72,9
12,45,Cardiff City: Football club told to pay Sala transfer balance - BBC News,Wales,http://www.bbc.co.uk/news/uk-wales-66071830,0.011818,23.1%,76.9%,50,17
13,412,"Amazon deforestation down by a third in 2023, says Brazilian government - BBC News",Latin America & Caribbean,http://www.bbc.co.uk/news/world-latin-america-66129200,0.011750,12.4%,87.6%,146,8
14,95,Laura Kuenssberg live: NHS England boss says strike disruption will get worse - BBC News,UK Politics,http://www.bbc.co.uk/news/live/uk-politics-66072121,0.011723,15.9%,84.1%,101,11
15,202,John Caldwell: Three charged in connection with officer's shooting - BBC News,Northern Ireland,http://www.bbc.co.uk/news/uk-northern-ireland-66095388,0.011487,15.4%,84.6%,110,12
16,187,Law firm Brodies passes £100m revenue milestone - BBC News,Scotland business,http://www.bbc.co.uk/news/uk-scotland-scotland-business-66086266,0.011473,17.5%,82.5%,89,14
17,400,Silvio Berlusconi: Former Italian PM's eldest children get majority stake - BBC News,Europe,http://www.bbc.co.uk/news/world-europe-66122641,0.011280,6.0%,94.0%,385,6
18,257,"Wimbledon 2023: Just Stop Oil protesters interrupt play twice, jigsaws taken off sale - BBC Sport",None,http://www.bbc.co.uk/sport/tennis/66041547,0.004687,100.0%,0.0%,4,-
19,136,Ukraine war: The lethal minefields holding up Kyiv's counter-offensive - BBC News,Europe,http://www.bbc.co.uk/news/world-europe-66080652,0.004615,100.0%,0.0%,5,-